<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ru.vitadots.focus</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vita</string>
				<string>vitafocus</string>
			</array>
		</dict>
	</array>
	<key>NSAlarmKitUsageDescription</key>
	<string>Vita может включать выбранные вами будильники для важных напоминаний.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Выбрать фотографию для фона виджетов Vita.</string>
	<key>SFSafariWebExtensionConverterVersion</key>
	<string>26.6</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
